<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/dynamictable.css">
    <title>
        Dynamic Table
    </title>
</head>

<body>
    <section>
    <form>
        <center>
            <label> First Name: Nimmi Mishra</label>
            <br>
            <label>date: 1/2/2024</label>
            <br>
            <label> Employee: ID24DEV016</label>
        </center>
    </form>
    <div class="col2">
        <div>
        <button value="-" id="coladd" class="btn" onclick="addcol()" > +</button>
    </div>
    <div>
        <button class="btn" id="colsub" value="-"  onclick="subcol()"> -</button>
    </div>
    <div style="margin: auto;"></div>

    <table border="1" id="dtab" >
        <tbody id="modify">
        <tr id="demo">
            <td class="dark"> </td>
            <td class="light"> </td>
            <td class="dark"> </td>
        </tr>
        <tr id="row2">
            <td class="light"> </td>
            <td class="dark"> </td>
            <td class="light"> </td>
        </tr>
        <tr id="row3">
            <td class="dark"> </td>
            <td class="light"> </td>
            <td class="dark"> </td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="col1">
        <div>
        <button class="btn" type="button" id="rowadd" value="+" onclick="addrow()">+</button>
    </div>&nbsp;&nbsp;
    <div>
        <button class="btn" value="-" id="rowsub"  onclick="subrow()"> -</button>
    </div>

</section>
</body>
<script src="/javascript/dynamictbl.js"></script>

</html>