<!DOCTYPE html>
<html>

<head>
    <title> cube task1</title>
    <link rel="stylesheet" href="/styles/kukucube.css">
</head>
</head>
<body >
    <center>
        <h1>Nimmi Mishra</h1>
        <h3> EmployeeID: 24DEV016</h3>
        <h3> Date:02/02/2024</h3>
        <p id="scoreCount"> score:0 </p>
        <div id="Timer"></div>
    </center>
   
        <table border='1' id="t1" cellpadding="50">
   
    <tr>
        <td id='target' class="i1" onclick="cubegame()"></td>
        <td id="2"></td>
    </tr>

    <tr>
        <td id="3"></td>
        <td id="4"></td>
    </tr>
    </table>

   
</body>

<script src="/javascript/kukucube.js"></script>

</html>