<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>date</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/dynamictable">Dynamic Table</a></td>
        <td> 11/12/2024</td>
        <td>Complete</td>
      </tr>      
      <tr class="success">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/kukucube">Kuku Cube</a></td>
        <td> 02/02/2024</td>
        <td>Complete</td>
      
      </tr>
      <tr class="danger">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/tictactoe">TicTacToe</a></td>
        <td>05/02/2024</td>
        <td>Complete</td>
      </tr>
      <tr class="info">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/website1">Website1</a></td>
        <td>09/02/2024</td>
        <td>Complete</td>
      </tr>
      <tr class="warning">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/website2">Website2</a></td>
        <td>09/02/2024</td>
        <td>Complete</td>
      </tr>
      <tr class="active">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/website3">Website3</a></td>
        <td>14/2/2024</td>
        <td>Complete</td>
      </tr>
      <tr class="">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/form">Curd Operation</a></td>
        <td>22/02/2024</td>
        <td>Complete</td>
      </tr>
      <!-- incomplete -->
      <tr class="success">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/form">Insert Into Html Form</a></td>
        <td>23/02/2024</td>
        <td>Complete</td>
      </tr>
      <tr class="danger">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/pagination/?month_year=12_2023">Pagination(Filter)</a></td>
        <td>27/02/2024</td>
        <td>Complete</td>
      </tr>
      <tr class="info">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/paginationresult">Pagination Result</a></td>
        <td>28/02/2024</td>
        <td>Complete</td>
      </tr>
      <tr class="warning">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/pagiorderby">Pagination(OrderBy)</a></td>
        <td>26/02/2024</td>
        <td>Complete</td>
      </tr>

      <tr class="active">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/searching">Delimiter Pagination</a></td>
        <td>05/03/2024</td>
        <td>Complete</td>
      </tr>

      <tr class="success">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/form-operation">Job Form(Insert)</a></td>
        <td>18/03/2024</td>
        <td>Complete</td>
      </tr>

      <tr class="danger">
        <td>  <a  class="task"  target="_blank"
          href="http://localhost:3000/display">Job Form(Display)</a></td>
        <td>18/03/2024</td>
        <td>Complete</td>
      </tr>
    </tbody>
    
  </table>
</div>

</body>
</html>

