<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/website3.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="header">
                <p>HireX.</p>
            </div>
            <nav>
                <span>Works </span>
                <span> Abouts</span>
                <span>Blogs</span>
                <span>FAQS</span>
                <span> Contact us</span>
                <button class="button">We're Hiring <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);">
                        <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z">
                        </path>
                    </svg></button>
            </nav>
        </header>
    </div>
    <section class="section1_parent">
        <div class="section1">
            <div class="sec1-div1">
                <p class="p"> Welcome to HireX</p>
                <img class="img-sec1" src="/static/website3/Star 1.png">
            </div>
            <div>
                <h1>
                    Award Winning Digital Agency.
                </h1>
            </div>
            <div>
                <p> Digital Agency offering unique solutions to create digital presence and increase your safes.</p>
            </div>
            <div class="input-s1">
                <input class="email" type="email" name="email" id="email" values="Your email address">
                <input class="btn" type="button" value="Request acess">
            </div>
            <div class="bubble_button">
                <div class="s1-p">Open account and gwt 5 boxes</div>
                <div class="empty"></div>
            </div>
        </div>
        <div class="section2">
            <div class="orange-box" id="con-box1">
                <span><img class="img-box" src="/static/website3/image 2 (Traced).png"> </span>
                <span class="content-box"> Web Design </span>
            </div>

            <div class="yellow-box">
                <span><img class="img-box" src="/static/website3/image 6 (Traced).png"> </span>
                <span class="content-box" id="con-box2"> Social Media </span>
            </div>

            <div class="green-box">
                <span class="content-box" id="con-box3"> UIX Design</span>
                <span><img class="img-box" src="/static/website3/image 1 (Traced).png"> </span>

            </div>
            <div class="new-box">
                <img src="/static/website3/Group 6.png">
            </div>
        </div>
    </section>
    <section class="section2_parent">
        <div class="section3">
            <div>
                <div class="slider">
                    <h3> Get Acess Now</h3>
                    <span><img src="/static/website3/image-fBLQvAFN1-transformed 1.png"></span>
                </div>
            </div>
            <div> | </div>
            <div>
                <div class="slider">
                    <h3> Get Acess Now</h3>
                    <span><img src="/static/website3/image-fBLQvAFN1-transformed 1.png"></span>
                </div>
            </div>
            <div> | </div>
            <div>
                <div class="slider">
                    <h3> Get Acess Now</h3>
                    <span><img src="/static/website3/image-fBLQvAFN1-transformed 1.png"></span>
                </div>
            </div>
            <div> | </div>
        </div>
    </section>
    <section class="section3_parent">
        <div class="section4">
            <div class="s4-div1">
                <span class="services">services</span>
                <h3> How Hirex. Work</h3>
                <p> The awesome people who makes all this possible </p>
            </div>
            <div class="s4-div2">
                <div class="s3-div">
                    <p>Start Here</p>
                    <h3>Who we are & what too do</h3>
                    <img class="s3-img" src="/static/website3/Designer _Flatline 1.png">
                    <button class="btn-s3" id="b1" value="Start Here">Start Here</button>
                </div>
                <div class="s3-div">
                    <p>Custom Design</p>
                    <h3> We'll design your projects</h3>
                    <img class="s3-img" src="/static/website3/Notifications_Flatline 1.png">
                    <button class="btn-s3" id="b2" value="Start Here">Start Here</button>
                </div>
                <div class="s3-div">
                    <p>Contact Us</p>
                    <h3>Drop us your message!</h3>
                    <img class="s3-img" id="b3" src="/static/website3/Fortnite_Two Color 1.png">
                    <button id="b3" class="btn-s3" value="Start Here">Start Here</button>
                </div>
            </div>
        </div>
    </section>
    <section class="section4_parent">
        <div class="section_4">
            <div class="mindiv1">
                <div>
                    <span id="works"> Works</span>
                </div>
                <div>
                    <h3>
                        Find our latetest works
                    </h3>
                </div>
                <div>
                    <p>The awesome people who makes all this possible</p>
                </div>
            </div>

            <div class="mindiv2">
                <div class="sub-maindiv2">

                    <div>
                        <img src="/static/website3/Rectangle 13.png">
                    </div>
                    <div>
                        <button class="btn-s4">Web Design</button>
                    </div>
                    <div class="margin">
                        <div>
                            <h3>Website Design for Degital Agency</h3>
                        </div>
                        <div>
                            <p> Build a unique Website with Hirex Template</p>
                        </div>
                    </div>
                    <div>
                        <h4>Rread More</h4>
                    </div>
                </div>
                <div class="sub-maindiv3">
                    <div>
                        <img src="/static/website3/Rectangle 13-1.png">
                    </div>
                    <div>
                        <button class="btn-s4" style="margin-top: 30px;">Web Design</button>
                    </div>
                    <div class="margin">
                        <div>
                            <h3>Realistic 3d Modelo of living Room</h3>
                        </div>
                        <div>
                            <p> Build a unique Website with Hirex Template</p>
                        </div>
                    </div>
                    <div>
                        <h4>Rread More</h4>
                    </div>
                    <div class="">
                        <button class="btn-s5 btn-s6">View All</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section5_parent">
        <div class="section_5">
            <div class="S5-mindiv1">

                <div>
                    <h1>
                        plan & placing
                    </h1>
                </div>
                <div>
                    <p>The awesome people who makes all this possible</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="S5-mindiv2">

            <div class="S5-subsdiv2">
                <div class="s5-container font-style">
                    <div>
                        <div>
                            <span class="font-style1">Free</span>
                        </div>
                        <div>
                            <span class="price">
                                <div class="span"><span class="font-style2">
                                        <div>$</div>0
                                    </span>
                                    <span class="font-style2">/month</span>
                                </div>
                            </span>
                        </div>
                        <div>
                            <p>Start free while you learn more about our services</p>

                        </div>
                        <hr class="price">
                    </div>
                    <div>
                        <ul class="ul2 ">
                            <li class="price ul1">✅Free forever get the basic essentials</li>
                            <li class="price ul1">✅Advanced security and performance</li>
                            <li class="price ul1">✅Unlimited unhosted sites</li>
                            <li class="price ul1">✅Live support</li>
                        </ul>
                    </div>
                    <div>
                        <button class="btn empty btn1">Get Started</button>
                    </div>
                </div>
                <div class="s5-container unique font-style">
                    <div>
                        <div>
                            <span class="font-style1">Free</span>
                        </div>
                        <div>
                            <span class="price">
                                <span class="font-style2">
                                    <div class="dollar">$</div>0
                                </span>
                                <span class="font-style2">/month</span>
                            </span>
                        </div>
                        <div>
                            <p>Start free while you learn more about our services</p>
                        </div>
                        <hr class="price">
                    </div>
                    <div>
                        <ul class="ul2">
                            <li class="price ul1">✅Free forever get the basic essentials</li>
                            <li class="price ul1">✅Advanced security and performance</li>
                            <li class="price ul1">✅Unlimited unhosted sites</li>
                            <li class="price ul1">✅Live support</li>
                        </ul>
                    </div>
                    <div>
                        <button class="btn empty btn2">Get Started</button>
                    </div>
                </div>
                <div class="s5-container font-style">
                    <div>
                        <div>
                            <span class="font-style1">Free</span>
                        </div>
                        <div>
                            <span class="price">
                                <span class="font-style2">
                                    <div>$</div>0
                                </span>
                                <span class="font-style2">/month</span>
                            </span>
                        </div>
                        <div>
                            <p>Start free while you learn more about our services</p>
                        </div>
                        <hr class="price">
                    </div>
                    <div>
                        <ul class="ul2">
                            <li class="price">✅Free forever get the basic essentials</li>
                            <li class="price">✅Advanced security and performance</li>
                            <li class="price">✅Unlimited unhosted sites</li>
                            <li class="price">✅Live support</li>
                        </ul>
                    </div>
                    <div>
                        <button class="btn empty btn3">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section_6_parent bg-green">
        <section class="section_6 maximum-width flex-between w-full">
            <div class="relative profile">
                <img src="/static/website3/testimonials-img.png" alt="">
                <button class="normal-padding bg-yellow">
                    <span>@mase.place</span>
                    <span class="bg-green rounded-normal"><img src="/static/website3/arrow_top-right.png" alt=""></span>
                </button>
            </div>
            <div class="w-half flex-col">
                <h3>"We select to practice in Minerva since it is both useful, and our clients basically adore it! It
                    has stood the test of time and proceeds"</h3>
                <p>Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than
                    3.2 million followers on the platform.
                </p>
            </div>
        </section>
    </div>

    <div class="section_7_parent">
        <section class="section7_parent">
            <div class="section_7">
                <div class="min1">
                    <div>
                        <span id="works"> Blog</span>
                    </div>
                    <div>
                        <h3>
                            Stay Updated
                        </h3>
                    </div>

                </div>

                <div class="min2">
                    <div class="maindiv2">

                        <div>
                            <img src="/static/website3/Rectangle 19.png">
                        </div>
                        <div>
                            <button class="btn-s4">Web Design</button>
                        </div>
                        <div class="margin">
                            <div>
                                <h3>We Launch Template this week!</h3>
                            </div>
                            <div>
                                <p> Build a unique Website with Hirex Template</p>
                            </div>
                        </div>
                        <div>
                            <h4>Rread More</h4>
                        </div>
                    </div>
                    <div class="maindiv3">

                        <div>
                            <img src="/static/website3/Rectangle 20.png">
                        </div>
                        <div>
                            <button class="btn-s4" style="margin-top: 30px;">Web Design</button>
                        </div>
                        <div class="margin">
                            <div>
                                <h3>Introducing the None-code Webflow Guide</h3>
                            </div>
                            <div>
                                <p> Build a unique Website with Hirex Template</p>
                            </div>
                        </div>
                        <div>
                            <h4>Rread More</h4>
                        </div>


                    </div>
                </div>
            </div>
        </section>

        <section class="section_8_parent">
            <div class="section8">


                <div class="s8div1">
                    <div>
                        <h1> Get our latest news & updates</h1>
                    </div>
                    <div>
                        <span>Name</span>
                        <hr><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path
                                d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z">
                            </path>
                        </svg>
                    </div>
                    <div>
                        <span>Email</span>
                        <hr><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path
                                d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z">
                            </path>
                        </svg>

                    </div>
                    <div>
                        <span>Suscribe</span>
                        <hr><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path
                                d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z">
                            </path>
                        </svg>

                    </div>

                </div>

                <div class="s8div2">
                    <div class="s8div3">
                        <div>
                            <p> We select to practice in Minerava since it is both useful and commonsense, and our
                                clients basically adore it.</p>
                        </div>
                        <div>
                            <button class="btn-s8">
                                Book A Call
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>

    <section class="section9_parent">
        <div class="section9">
            <div id="scroll-container">

                <div class="sec8div">
                    <div class="sec8child">
                        <div id="">
                            <h1>
                                Thankyou For Your Visit
                            </h1>

                        </div>
                        <div>
                            <span class=""> <img class="" src="/static/website3/Group 59.png"></span>
                        </div>

                        <div id="">
                            <h1>
                                Thankyou For Your Visit
                            </h1>

                        </div>
                        <div>
                            <span class=""> <img class="" src="/static/website3/Group 59.png"></span>
                        </div>

                        <div id="">
                            <h1>
                                Thankyou For Your Visit
                            </h1>

                        </div>
                        <div>
                            <span class=""> <img class="" src="/static/website3/Group 59.png"></span>
                        </div>
                        <div class="">
                            <img class="" src="/static/website3/Line 4.png" alt="">
                        </div>

                    </div>
                </div>

                
            </marquee>
        </div>
    </section>


    <section class="section10_parent">

        <div class="section10">
            <div class="sec10div">
                <div>
                    <h2>HireX.</h2>
                </div>

                <div>
                    <hr>
                </div>
            </div>

            <div class="sec10div1">
                <div>
                    <div class="ps10">
                        <p>Products</p>
                    </div>
                    <div class="list">
                        <div>Platform</div>
                        <div>Store Overview</div>
                        <div> Email Reports</div>
                        <div>portfolio</div>
                    </div>
                </div>

                <div>
                    <div class="ps10">
                        <p>Resources</p>
                    </div>
                    <div class="list">
                        <div>Case Studies</div>
                        <div>Products Guides</div>
                        <div> Reports</div>
                        <div>Blog</div>
                        <div>FAQ</div>
                    </div>
                </div>

                <div>
                    <div class="ps10">
                        <p>Company</p>
                    </div>
                    <div class="list">
                        <div>careers</div>
                        <div>Contact sales</div>
                        <div> Contact Supports</div>
                    </div>
                </div>

                <div>
                    <div class="ps10">
                        <p>Partners</p>
                    </div>
                    <div class="list">
                        <div>Partner With Us</div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <script src="/javascript/website3.js"></script>
</body>

</html>