<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website2</title>
    <link rel="stylesheet" href="/styles/website2.css">
</head>

<body>
    <div class="main-container">
        <header>
            <div class="container">

                <div>
                    <img class="logo" src="/static/website2/cloud-sunny.png" alter="logo">
                    <span class="font-style">Awan</span>
                    <span class="font-style">Hoster</span>
                </div>


                <nav>
                    <span>Hosting</span>
                    <span>Integration</span>
                    <span>Pricing</span>
                    <span>Community</span>
                    <span><button class="button">Login</button></span>
                </nav>
            </div>

        </header>

        <section class="section1-parent">
            <div class="section-1">
                <div class="part1">
                    <h1 class="margin">Hosting Services For Your Website</h1>


                    <p class="default-p margin"> Easily and reliably host a website for your business,organization,or
                        project while retraning
                        complete
                        control over your site's underlying infrastructure.
                    </p>

                    <div class="btn-group">
                        <button class="s1-btn1">Get Started</button>
                        <button class="s1-btn2">Get Migration Help</button>
                    </div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path
                                d="m18.707 12.707-1.414-1.414L13 15.586V6h-2v9.586l-4.293-4.293-1.414 1.414L12 19.414z">
                            </path>
                        </svg>
                    </span>


                </div>
                <div>
                    <img src="/static/website2/portrait-confident-bearded-man-using-laptop-computer 1.png">
                </div>
            </div>
        </section>

        <section class="sec2-parent">
            <div class="section-2">
                <div class="sec2_d1">
                    <p>Those who have experianced the best performance</p>
                </div>
                <div class="sec2_d2">
                    <img src="/static/website2/Telkom Indonesia Logo.png" alt="">
                    <img src="/static/website2/Jetstar Airways Logo.png" alt="">
                    <img src="/static/website2/Nescafe Logo.png" alt="">
                    <img src="/static/website2/Lenovo Logo.png" alt="">
                </div>
            </div>
        </section>

        <section class="sec3-parent">
            <div class="section-3">

                <img src="/static/website2/Group 3552.png">
                <div class="sec3_division">
                    <div>
                        <p class="sec3-p margin2"> Boost The Speed Of Your Website</p>
                    </div>
                    <div class="row1">
                        <div class="col1">
                            <p class="font-style-s3 ">Faster Build process</p>
                            <p class="p">we can speed up the process of creating your website</p>
                        </div>
                        <div class="col2">
                            <p class="font-style-s3 ">Faster Delivery</p>
                            <p class="p">Our purchases and services can be completely quickly</p>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="col3">
                            <p class="font-style-s3 ">Faster Access speed</p>
                            <p class="p">Superb network infrastructure and hardware to support fast and stable acess</p>
                        </div>
                        <div class="col4">
                            <p class="font-style-s3 "> 24/7 Faster Service</p>
                            <p class="p">We have a response time of less then 180 seconds, available 24 hours a day</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section_4_parent">
            <div class="section_4"></div>
            <h3 class="center">Host any website with Our Fully Managed Services </h3>
            <div class="pricing_card_grp">

                <div class="pricing_card">
                    <div class="s4color">
                        <div class="sec4-card1 ">
                            <img class="logo-s4" src="/static/website2/cloud-sunny.png" alt="">
                            <span class="p s4_span">Cloud Hosting</span>
                        </div>
                        <div class="">Cloud Hosting is a good fit for those of you who are building personal
                            websites,portfolios,blogs and other systems</div>
                    </div>
                    <span class="price">
                        <span>$5.9</span>
                        <span>/month</span>
                    </span>
                    <button class="s1-btn2">More Detail</button>
                </div>
                <div class="pricing_card">
                    <div>
                        <div>
                            <img class="logo-s4" src="/static/website2/buildings.png" alt="">
                            <span class="s4_span">Corporate</span>
                        </div>
                        <div>Provides business-related hosting services, such as websites or management systems for
                            companies</div>
                    </div>
                    <span class="price">
                        <span>$19</span>
                        <span>/month</span>
                    </span>
                    <button class="s1-btn2">More Detail</button>
                </div>
                <div class="pricing_card">
                    <div>
                        <div>
                            <img class="logo-s4" src="/static/website2/driver.png" alt="">
                            <span class="s4_span">Cloud VPS</span>
                        </div>
                        <div>A scalable, fully-managed virtual private server we build and optimize specifically for
                            your website.</div>
                    </div>
                    <span class="price">
                        <span>$29</span>
                        <span>/month</span>
                    </span>
                    <button class="s1-btn2">More Detail</button>
                </div>
                <div class="pricing_card">
                    <div>
                        <div>
                            <img class="logo-s4" src="/static/website2/monitor-mobbile.png" alt="">
                            <span class="s4_span">Dedicated</span>
                        </div>
                        <div>your mission-critical website requires the performance and securiry of a dedicated
                            physical server.</div>
                    </div>
                    <span class="price">
                        <span>$119</span>
                        <span>/month</span>
                    </span>
                    <button class="s1-btn2">More Detail</button>
                </div>

            </div>
    </div>
    </section>

    <section class="parent-section5">
        <div class="section5">
            <div class="sec5_sub1">
                <div class="sub_div" id="wordpress">
                    <img class="sec5-image" src="/static/website2/WordPress.com Logo.png">
                    <span id="wordpress">WordPress</span>
                </div>

                <div class="sub_div" id="magento">
                    <img class="sec5-image" src="/static/website2/magento-icon.png">
                    <span id="magneto" >Magneto</span>
                </div>

                <div class="sub_div">
                    <img class="sec5-image" src="/static/website2/laravel.png">
                    <span id="laravel">Laravel</span>
                </div>

                <div class="sub_div">
                    <img class="sec5-image" src="/static/website2/php.png">
                    <span id="php" >PHP</span>
                </div>
            </div>
            <div class="sec5-sub2">

                <div >
                    <h1 id="tabHeading"> The Best Managed Cloud Hosting For WordPress </h1>
                </div>

                <div>
                    <p id="tabDesc"> We live and breath WordPress. our manageg hosting for wordpress and woocommerence takes away
                        cloud
                        server related hassless so you can sacle your website the way you want.
                    </p>
                </div>

                <div class="sec5-cols1">
                    <div>
                        <img src="/static/website2/Vector.png">
                        <span> Unlimited Bandwidth</span>
                    </div>
                    <div>
                        <img src="/static/website2/Vector.pngVector.png">
                        <span> Network Speed</span>
                    </div>
                </div>
                <div class="sec5-cols2">
                    <div>
                        <img src="/static/website2/Vector.png">
                        <span>Turbo Power</span>
                    </div>
                    <div>
                        <img src="/static/website2/Vector.png">
                        <span>Xtreme Freedom</span>
                    </div>
                </div>

                <div sec5-cols3>
                    <div class="">
                        <button class="s5-btn1 "> More Details</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_6_parent">

        <div class="section_6">
            <div>
                <h1>How Our Customers feel About Us</h1>
                <div class="btn_grp">
                    <span id="left"><img src="/static/website2/arrow-right.png" alt=""></span>
                    <span id="right"><img src="/static/website2/arrow-right.png" alt=""></span>
                </div>
            </div>
            <div class="slider " id="slider">
                <div class="slide_card">
                    <div>
                        <img src="/static/website2/profile.png" alt="">
                        <div>
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                    </div>
                    <div>
                        <h3>Guy Hawkins</h3>
                        <span class="text-gray">Manager</span>
                    </div>
                </div>
                <div class="slide_card">
                    <div>
                        <img src="/static/website2/profile.png" alt="">
                        <div>
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                    </div>
                    <div>
                        <h3>Guy Hawkins</h3>
                        <span class="text-gray">Manager</span>
                    </div>
                </div>
                <div class="slide_card">
                    <div>
                        <img src="/static/website2/profile.png" alt="">
                        <div>
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                    </div>
                    <div>
                        <h3>Guy Hawkins</h3>
                        <span class="text-gray">Manager</span>
                    </div>
                </div>
                <div class="slide_card">
                    <div>
                        <img src="/static/website2/profile.png" alt="">
                        <div>
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                    </div>
                    <div>
                        <h3>Guy Hawkins</h3>
                        <span class="text-gray">Manager</span>
                    </div>
                </div>
                <div class="slide_card">
                    <div>
                        <img src="/static/website2/profile.png" alt="">
                        <div>
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                    </div>
                    <div>
                        <h3>Guy Hawkins</h3>
                        <span class="text-gray">Manager</span>
                    </div>
                </div>
                <div class="slide_card">
                    <div>
                        <img src="/static/website2/profile.png" alt="">
                        <div>
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                            <img src="/static/website2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                    </div>
                    <div>
                        <h3>Guy Hawkins</h3>
                        <span class="text-gray">Manager</span>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="parent-section6">
        <div class="section-7">
            <div class="sec7-sub1">
                <div>
                    <h1> Try it Now and Stop Doubting Anything Else</h1>

                </div>
                <div>

                    <p> with Awan Hoster's Money Back Gaurantee, You can try the best services reliability</p>
                </div>
                <div class="s7-btn">
                    <div>
                        <button class="s5-btn1">Start Free Trial</button>
                    </div>
                    <div>
                        <button class="s5-btn1"> See All Plans</button>
                    </div>
                </div>

            </div>

            <div class="s7-img">
                <div>
                    <img src="/static/website2/Group 1000008788.png">

                </div>

            </div>

        </div>

    </section>
    <section class="parent-section8">
        <footer>
            <div class="section8">

                <div class="sec8-sub1">

                    <div class="img-sec8">
                        <div>
                            <img class="logo-s8" src="/static/website2/cloud-sunny.png" alt="cloud-sunny">
                        </div>

                        <div>
                            <h2> Awan Hoster</h2>
                        </div>

                    </div>
                    <div>
                        <p> We Provide You With The Best Hosting solution For Your Website.</p>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgb(255, 252, 252);">
                            <path
                                d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z">
                            </path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgb(255, 255, 255);">
                            <path
                                d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z">
                            </path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgb(255, 251, 251);">
                            <path
                                d="M11.999 7.377a4.623 4.623 0 1 0 0 9.248 4.623 4.623 0 0 0 0-9.248zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008z">
                            </path>
                            <circle cx="16.806" cy="7.207" r="1.078"></circle>
                            <path
                                d="M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.606 6.606 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.615 6.615 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.581 6.581 0 0 0-.421-2.217zm-1.218 9.532a5.043 5.043 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.985 4.985 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.96 4.96 0 0 1-1.669-.311 2.985 2.985 0 0 1-1.719-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.951-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.991 2.991 0 0 1 1.712 1.712 5.08 5.08 0 0 1 .311 1.669c.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011z">
                            </path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgb(255, 249, 249);">
                            <path
                                d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z">
                            </path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgb(255, 255, 255);">
                            <path
                                d="M9.593 10.971c-.542 0-.969.475-.969 1.055 0 .578.437 1.055.969 1.055.541 0 .968-.477.968-1.055.011-.581-.427-1.055-.968-1.055zm3.468 0c-.542 0-.969.475-.969 1.055 0 .578.437 1.055.969 1.055.541 0 .968-.477.968-1.055-.001-.581-.427-1.055-.968-1.055z">
                            </path>
                            <path
                                d="M17.678 3H4.947A1.952 1.952 0 0 0 3 4.957v12.844c0 1.083.874 1.957 1.947 1.957H15.72l-.505-1.759 1.217 1.131 1.149 1.064L19.625 22V4.957A1.952 1.952 0 0 0 17.678 3zM14.01 15.407s-.342-.408-.626-.771c1.244-.352 1.719-1.13 1.719-1.13-.39.256-.76.438-1.093.562a6.679 6.679 0 0 1-3.838.398 7.944 7.944 0 0 1-1.396-.41 5.402 5.402 0 0 1-.693-.321c-.029-.021-.057-.029-.085-.048a.117.117 0 0 1-.039-.03c-.171-.094-.266-.16-.266-.16s.456.76 1.663 1.121c-.285.36-.637.789-.637.789-2.099-.067-2.896-1.444-2.896-1.444 0-3.059 1.368-5.538 1.368-5.538 1.368-1.027 2.669-.998 2.669-.998l.095.114c-1.71.495-2.499 1.245-2.499 1.245s.21-.114.561-.275c1.016-.446 1.823-.57 2.156-.599.057-.009.105-.019.162-.019a7.756 7.756 0 0 1 4.778.893s-.751-.712-2.366-1.206l.133-.152s1.302-.029 2.669.998c0 0 1.368 2.479 1.368 5.538 0-.001-.807 1.376-2.907 1.443z">
                            </path>
                        </svg>

                    </div>


                </div>

                <div class="sec8-sub2">


                    <div class="flex1">
                        <div>
                            <h2>
                                Company
                            </h2>
                            <div class="sub-2">
                                <span>About</span>
                                <span> Blog</span>
                                <span>Leadership</span>
                                <span>Careers</span>
                                <span>Legals</span>
                            </div>
                        </div>
                        <div>
                            <div class="sub-2">
                                <h2> Products</h2>
                                <span>API</span>
                                <span>Pricing</span>
                                <span>Documentation</span>
                                <span>Releases Notes</span>
                            </div>
                        </div>
                        <div>
                            <div class="sub-2">
                                <h2> Contact</h2>
                                <span>Support</span>
                                <span>Sales</span>
                                <span>Report Abuses</span>
                                <span>System Status</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </section>
 <script src="/javascript/website2.js"></script>
</body>



</html>