<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filter</title>
</head>

<body>
    <div class="filter h-[10rem] flex items-center justify-center gap-5">
        <div>
            <label for="month" class="py-2 px-5 ">Filter By Month:</label>
            <select name="month" id="month" class="py-2 px-5 rounded-lg cursor-pointer border border-green-700">
                <option value="12">December</option>
                <option value="01">January</option>
                <option value="02">February</option>
            </select>
        </div>
        <div>
            <label for="year" class="py-2 px-5  border-green-700">Filter By Year:</label>
            <select name="year" id="year" class="py-2 px-5 rounded-lg cursor-pointe border border-green-700">
                <option value="2023">2023</option>
                <option value="2024">2024</option>
            </select>
        </div>
        <button id="filter_button" class="py-1 px-5 border bg-[#D3D3D3] rounded-lg outline-none  border border-green-900">Filter </button>
    </div>
</body>
<script src="../../../javascript/paginationfilter/filter.js">
</script>

</html>