<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/form.css">
</head>
<body>
    <form method="post" class="form" id="form">
        <fieldset style="width: 1300px;" id="basicDetails">
            <legend>Basic Details</legend>
            <table cellspacing="50">
                <tr>
                    <td><label for="fname">First Name</label></td>
                    <td><input class="input" type="text" name="firstname" id="fname">
                    </td>
                    <td><label for="lname">Last Name</label></td>
                    <td><input class="input" class="input" type="text" name="lastname" id="lname">
                    </td>
                </tr>
                <tr>
                    <td><label for="designation">Designation</label></td>
                    <td><input class="input" type="text" name="designation" id="designation">
                    </td>
                    <td><label for="address">Address1</label></td>
                    <td><textarea class="input" name="address1" id="address1" cols="24" rows="1"></textarea>
                    </td>
                </tr>
                <tr>
                    <td><label for="email">Email</label></td>
                    <td><input class="input" type="text" name="email" id="email">

                    </td>
                    <td><label for="address">Address2</label></td>
                    <td><textarea class="input" name="address2" id="address2" cols="24" rows="1"></textarea>
                    </td>
                </tr>
                <tr>
                    <td><label for="phoneno">Phone Number</label></td>
                    <td><input class="input" type="text" name="phoneno" id="phoneno">
                    </td>
                    <td><label for="state">State</label></td>
                    <td>
                        <select class="input" name="state" id="state">
                            <option value="">select value</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="TamilNadu">TamilNadu</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Rajasthan">Rajasthan</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><label for="city">City</label></td>
                    <td><select class="input" name="city" id="city">
                            <option value="">select value</option>
                            <option value="Jamnagar">Jamnagar</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Bengaluru">Bengaluru</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Kochi">Kochi</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Jaipur">Jaipur</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="gender">Gender</label></td>
                    <td><input type="radio" name="gender" id="male" value="Male">
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="female" value="Female">
                        <label for="female">Female</label>
                    </td>
                    <td><label for="zipcode">Zipcode</label></td>
                    <td><input class="input" type="text" name="zipcode" id="zipcode">
                    </td>
                </tr>
                <tr>
                    <td><label for="status">Relationship Status</label></td>
                    <td><select class="input" name="relationship_status" id="status">
                            <option value="">select value</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Divorce">Divorce</option>
                            <option value="Widow">Widow</option>
                        </select>
                    </td>
                    <td><label for="date">Date Of Birth</label></td>
                    <td><input class="input" type="text" name="dateofbirth" id="date">
                    </td>
                </tr>
            </table>
            <center><div id="message"></div></center>
        </fieldset>
        <fieldset style="width: 1300px; " class="form-section " id="educational">
            <legend>Education Detail</legend>
            <input class="btns" type="button" onclick="add_row1()" value="+">
            <input class="btns" type="button" onclick="sub_col1()" value="-">
            <table>
                <tbody id="tbl">
                    <tr class="edu" id="edu">
                        <td><label for="">Education</label></td>
                        <td><input  class="btn input" type="text" name="education[]" id="education"></td>
                        <td><label for="">Board/Course</label></td>
                        <td><input class="btn input" type="text" name="nameOfboard_course[]" id="board_course"></td>
                        <td><label for="">Passingyear</label></td>
                        <td><input class="btn input" type="text" name="passingyear[]" id="passingyear"></td>
                        <td><label for="">Percentage</label></td>
                        <td><input class="btn input" type="text" name="percentage[]" id="percentage"></td>
                    </tr>
                    <br>
                </tbody>
            </table>
            <center><div id="message1"></div></center>
        </fieldset>
        <fieldset style="width: 1300px;" class="form-section " id="workexp">
            <input class="btns" type="button" onclick="addrow()" value="+">
            <input class="btns" type="button" onclick="subcol()" value="-">
            <legend>Work Experience</legend>
            <table cellspacing="10">
                <tbody id="modify">
                    <tr class="work_exp" id="work_exp">
                        <td><label for="company">Company Name</label></td>
                        <td><input class="input" type="text" name="company_name[]" id="company"></td>
                        <td><label for="designation">Designation</label></td>
                        <td><input class="input" type="text" name="desig[]" id="designation"></td>
                        <td><label for="from">From</label></td>
                        <td><input class="input" type="text" name="date_from[]" id="from"></td>
                        <td><label for="to">To</label></td>
                        <td><input class="input" type="text" name="date_to[]" id="to"></td>
                    </tr>
                    <br>
                </tbody>
            </table>
            <center><div id="message3"></div></center>
        </fieldset>
        <div style="display: flex; gap: 4px;">
            <fieldset style="width: 650px;" class="form-section" id="language">
                <legend>Language known</legend>
                <table cellspacing="21">
                    <tr class="lang">
                        <td>
                            <input type="checkbox" name="lang[0][language]" id="hindi" value="Hindi">
                            <label for="hindi">Hindi</label>
                        </td>
                        <td>
                            <input type="checkbox" name="lang[0][is_read]" id="read" value="Read">
                            <label for="read">Read</label>
                        </td>
                        <td>
                            <input type="checkbox" name="lang[0][is_write]" id="write" value="Write">
                            <label for="write">Write</label>
                        </td>
                        <td>
                            <input type="checkbox" name="lang[0][is_speak]" id="speak" value="Speak">
                            <label for="speak">Speak</label>
                        </td>
                    </tr>
                    <tr class="lang">
                        <td>
                            <input type="checkbox" name="lang[1][language]" id="english" value="English">
                            <label for="english">English</label>
                        </td>
                        <td>
                            <input type="checkbox" name="lang[1][is_read]" id="read1" value="Read">
                            <label for="read1">Read</label>
                        </td>
                        <td>
                            <input type="checkbox" name="lang[1][is_write]" id="write1" value="Write">
                            <label for="write1">Write</label>
                        </td>
                        <td>
                            <input type="checkbox" name="lang[1][is_speak]" id="speak1" value="Speak">
                            <label for="speak1">Speak</label>
                        </td>
                    </tr>
                    <tr class="lang">
                        <td>
                            <input type="checkbox" name="lang[2][language]" id="gujarati" value="Gujarati">
                            <label for="gujarati">Gujarati</label>
                        </td>
                        <td>
                            <input type="checkbox" name="lang[2][is_read]" id="read2" value="Read">
                            <label for="read2">Read</label>
                        </td>
                        <td>
                            <input type="checkbox" name="lang[2][is_write]" id="write2" value="Write">
                            <label for="write2">Write</label>
                        </td>
                        <td>
                            <input type="checkbox" name="lang[2][is_speak]" id="speak2" value="Speak">
                            <label for="speak2">Speak</label>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset style="width: 650px;" class="form-section" id="technology">
                <legend>Technologies you know</legend>
                <table cellspacing="13">
                    <tr class="tech">
                        <td>
                            <input type="checkbox" name="php_technology" id="php" value="PHP">
                            <label for="php">PHP</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="php_tech_level" id="beginer" value="Beginer">
                            <label for="beginer">Beginer</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="php_tech_level" id="mideator" value="Mideator">
                            <label for="mideator">Mideator</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="php_tech_level" id="expert" value="Expert">
                            <label for="expert">Expert</label>
                        </td>
                    </tr>
                    <tr class="tech">
                        <td>
                            <input type="checkbox" name="mysql_technology" id="mysql" value="MySQL">
                            <label for="mysql">MySQL</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="mysql_tech_level" id="beginer1" value="Beginer">
                            <label for="beginer1">Beginer</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="mysql_tech_level" id="mideator1" value="Mideator">
                            <label for="mideator1">Mideator</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="mysql_tech_level" id="expert1" value="Expert">
                            <label for="expert1">Expert</label>
                        </td>
                    </tr>
                    <tr class="tech">
                        <td>
                            <input type="checkbox" name="laravel_technology" id="laravel" value="Laravel">
                            <label for="laravel">Laravel</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="laravel_tech_level" id="beginer2" value="Beginer">
                            <label for="beginer2">Beginer</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="laravel_tech_level" id="mideator2" value="Mideator">
                            <label for="mideator2">Mideator</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="laravel_tech_level" id="expert2" value="Expert">
                            <label for="expert2">Expert</label>
                        </td>
                    </tr>
                    <tr class="tech">
                        <td>
                            <input type="checkbox" name="oracle_technology" id="oracle" value="Oracle">
                            <label for="oracle">Oracle</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="oracle_tech_level" id="beginer3" value="Beginer">
                            <label for="beginer3">Beginer</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="oracle_tech_level" id="mideator3" value="Mideator">
                            <label for="mideator3">Mideator</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="oracle_tech_level" id="expert3" value="Expert">
                            <label for="expert3">Expert</label>
                        </td>
                    </tr>
                </table>
                <center><div id="message5"></div></center>
            </fieldset>
        </div>
        <fieldset style="width: 1300px;" class="form-section " id="reference">
            <legend>Reference Contact</legend>
            <table cellspacing="10">
                <tr class="refer">
                    <td><label for="name">Name</label></td>
                    <td><input class="input" type="text" name="ref[0][name]" id="name"></td>
                    <td><label for="contact">Contact Number</label></td>
                    <td><input class="input" type="text" name="ref[0][contactNo]" id="contact"></td>
                    <td><label for="relation">Relation</label></td>
                    <td><input class="input" type="text" name="ref[0][relation]" id="relation"></td>
                </tr>
                <tr class="refer">
                    <td><label for="name">Name</label></td>
                    <td><input class="input" type="text" name="ref[1][name]" id="name1"></td>
                    <td><label for="contact">Contact Number</label></td>
                    <td><input class="input" type="text" name="ref[1][contactNo]" id="contact1"></td>
                    <td><label for="realtion">Relation</label></td>
                    <td><input class="input" type="text" name="ref[1][relation]" id="relation1"></td>
                </tr>
            </table>
        </fieldset>
        <fieldset style="width: 1300px;" class="form-section " id="preference">
            <legend>Preferances</legend>
            <table cellspacing="10">
                <tr>
                    <td><label for="location" class="dl">Preffered Location</label></td>
                    <td><select name="location" id="location" size="6" multiple>
                            <option value="Ahemdabad">Ahemdabad</option>
                            <option value="Gandhinagar">Gandhinagar</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Pune">Pune</option>
                            <option value="Banglore">Banglore</option>
                        </select></td>
                    <td><label for="period">Notice Period</label></td>
                    <td><input type="text" name="pref[0][notice_period]" id="period"></td>
                    <td><label for="depart">Department</label></td>
                    <td><select name="pref[0][department]" id="depart">
                            <option value="">Select value</option>
                            <option value="Development">Development</option>
                            <option value="Design">Design</option>
                            <option value="Marketing">MArketing</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="exctc" class="dl">Expected CTC</label></td>
                    <td><input class="input" type="text" name="pref[0][expected_ctc]" id="exctc" class="dl"></td>
                </tr>
                <tr>
                    <td><label for="curctc" class="dl">Current CTC</label></td>
                    <td><input class="input" type="text" name="pref[0][current_ctc]" id="curctc" class="dl"></td>
                </tr>
            </table>
            <center><div id="message"></div></center>
        </fieldset>
       
        <div>
            <input  type="button" value="previous" onclick="previous()" class="prev">
            <input type="button" value="next" id="nex" onclick="next()" class="next">
            <input type="submit" value="submit" id="submit" class="submit">
           
        </div>
    </form>
   
   <script src="/javascript/form/form.js"></script>
   <script>
    async function check() {
    let submit = `<%=submit%>`;
    let id = `<%=id%>`
    if (submit == "Update") {
        let url = window.location.href;
        let url1 = url.replace("/update/", "/fetch/");
        let response = await fetch(url1);
        let result = await response.json();
        console.log(JSON.stringify(result));

        fillData(result);
    }

}
check();
</script>
</body>
</html>