        body{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .bn1{
            margin-bottom: 20px;
            background-color: #089a19;
            border-radius: 10px;
            width: 40px;
            height: 30px;
            /* align-items: center; */
            border-color: #16a902   ;
        
        }
        .bn1:hover{
            background-color: hsl(149, 100%, 41%);
        }
      
        h2{
            text-align: center;
        }
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        #delimiter{
            max-width: 140px;
            display: flex;
            gap:30px;
            flex-direction: column;
           justify-content: center;
           align-items: center;
            background-color: rgb(85, 228, 121);
        }

        #S_Id{
            height: 30px;
            border: #089a19 2px solid;
            outline: none;
            border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }

        .btn{
            height: 30px;
            width: 70px;
            outline: none;
            border: rgb(14, 98, 3) 2px solid;
            background-color: #00ad14;
            border-radius: 5px;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
       